{% extends "base_inicio.html" %}

{% block title %}<title>Cambiar contraseña</title>{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="page-header">
            <h1>Cambio de Contraseña Completo</h1>
        </div>

    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">La Contraseña fue cambiada</div>
        <div class="panel-body">
            <div class="container-fluid">
                
               <p><a href="{% url 'login' %}">Iniciar sesion</a></p>

               

            </div>
        </div>
</div>




{% endblock %}