{% extends "base_inicio.html" %}

{% block title %}<title>Nueva Contraseña</title>{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="page-header">
            <h1>Cambio de Contraseña</h1>
        </div>

    </div>
</div>

{% if validlink %}

<div class="panel panel-primary">
    <div class="panel-heading">Por favor ingresa y confirma tu nueva contraseña</div>
        <div class="panel-body">
            <div class="container-fluid">
                
                <form action="" id="reset-form" method="POST"> 
                    <div class="row">
                    <div class="form-group col-4">    
                        <div  style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        
                        </div>
                           <div  style="display:none">
                            {{ form.new_password1.errors }}                        
                        </div>
                        <label class="col-12" for="id_new_password1">Nueva Contraseña</label>
                         {{form.new_password1}} 
                        
                         <div  style="display:none">
                          {{ form.new_password2.errors }}                      
                        </div>

                        <label class="col-12" for="id_new_password2">Confirmar Contraseña</label>
                        {{form.new_password2}} 

                        <input type="submit" class="btn btn-primary" value="Cambiar Contraseña" />   

                </form> 
               

            </div>
        </div>
</div>

{% else %}
        <h1>Cambio de Contraseña fallido</h1>
        <p>
            El link de cambio de contraseña es invalido, posiblemente es porque ya fue usado. Por favor solita un nuevo cambio de contraseña
        </p>
 

{% endif %}

{% endblock %}