<!DOCTYPE html>
<html lang='es'>
    <head>
        {% block title %}<title>Almacen</title>{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    </head>

        <body>


            
             

            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-2">
                        {% block sidebar %}
                        <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">Menu</a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
                                <li role="presentation"><a href="{% url 'producto' %}">Lista de Productos</a>
                                </li>
                                <li role="presentation"><a href="{% url 'entrada' %}">Ingreso de Productos</a></li>
                                <li role="presentation"><a href="{% url 'salida' %}">Salida de Productos</a></li>
                                <li role="presentation"><a href="{% url 'lentradas' %}">Lista de registro de Entradas</a>
                                </li>
                                <li role="presentation"><a href="{% url 'lsalidas' %}">Lista de registro de Salidas</a></li>
                                <li role="presentation"><a href="/../admin/">Alta de producto</a></li>
                            </ul>
                        </div>
                        </nav>


                      
                       
                   
                        {% endblock %}
                    </div>
                    <div class="col-sm-10 ">
                        {% block content %}{% endblock %}
                        {% block pagination %}
                        {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                        {% endif %}
                        {% endblock %}
                    </div>
                </div>

            </div>
        </body>

  
</html>