{% extends "base_generic.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
<h1>Detalle de Productos</h1>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">Producto</div>
        <div class="panel-body">

            <div class="container-fluid">
                 <table class="table table-striped table-sm" id="my_salida">
                    
                    <tbody id="my_registro">
                   {% for productod in producto %}
                        <tr>
                            <td>Nombre: </td>
                            <td>{{productod.nombre}}</td>
                        </tr>    
                        <tr>
                            <td>Descripcion: </td>
                            <td>{{productod.descripcion}}</td>

                        </tr>
                        <tr>
                            <td>Cantidad: </td>
                            <td>{{productod.Cant_total}}</td>

                        </tr>
                        <tr>
                            <td>Minimo: </td>
                            <td> {{productod.minimo}}</td>
                            <td>Maximo: </td>
                            <td> {{productod.maximo}}</td>

                        </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">Inventario</div>
        <div class="panel-body">
<div class="container-fluid">
    <table class="table table-striped table-sm" id="my_salida">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody id="my_registro">
            {% for inventariod in inventario %}
            <tr>
                <td>{{inventariod.codigob}}</td>
                <td>{{inventariod.cantidad}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
</div>

</div>
{% endblock %}
