{% extends "base_generic.html" %}
{% block content %}

<h1>Salida de Productos</h1>

{% for inventario in inventarios %}

<div class="container-fluid">
    <table class="table table-striped table-sm" id="my_salida">
        <tbody id="my_registro">
            <tr>
                <td>Codigo</td>
                <td>{{inventario.codigob}}</td>
            </tr>
            <tr>
                <td>Producto</td>
                <td>{{inventario.producto.nombre}}</td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>{{inventario.producto.descripcion}}</td>
            </tr>
            <td>Cantidad Actual</td>
            <td>{{inventario.cantidad}}</td>
            </tr>
        </tbody>
    </table>

</div>


<div class="container-fluid">
    <form method="POST" id="salida-form" action="{% url 'reduccion' %}">
        <input type="hidden" value="{{inventario.id}}" name=pk>
        <div class="row">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group col-4">
                <label class="col-12">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Decrementar Cantidad" />
        </div>
    </form>
</div>
{% endfor %}
{% endblock %}